main {
    height: 100vh;
}

/* MY HAND */
#myhand span {
    cursor: pointer;
    /* transition: 2s; */
}
#myhand span:hover {
    animation-name: sceltaHover;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate ;
}
@keyframes sceltaHover {
    from {
        scale: 1;
    }
    to {
        scale: 2;
        color: red;
    }
}

#myCarta {
    /* transform: skewY(-10deg); */
    transform: perspective(100px) rotateX(25deg) skewY(-5deg);
}
#myForbice {
    transform: perspective(100px) rotateX(25deg);
    /* transform-origin: 50% 100%; */
}
#mySasso {
    transform: perspective(100px) rotateX(25deg) skewY(5deg);
}

#myMove {
    color:rgb(208, 0, 0);
    font-size: 90px;
    width: 200px;
    position: absolute;
    bottom: 15%;
    right: 5%;
    transform: translate( 0% , 0%);
}

/* HIS HAND */
.monster-eye {
    width: 100px;
}
#red-eye {
    animation-name: trembleAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
@keyframes trembleAnimation {
    from {
        rotate: 4deg;
    }
    to {
        rotate: -4deg;
    }
}

.monster-move {
    width: 200px;
    position: absolute;
    top: 40%;
    left: 5%;
    transform: translate( 0 , -50%);
    /* left: 50%;
    transform: translate( -50% , -50%); */
}
.the-rock {
    clip-path: circle(60%);
}

/* YOU LOSE MODAL */
.modal {
    transition: 5s;
    transition-timing-function: ease-in;
    /* transition-delay: 2s; */
}    
.modal-content {
    background-image: url(../img/evil-eye.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    border: 4px solid rgb(41, 7, 7);
    border-style: groove;
    box-shadow: 0px 1px 5px 10px rgba(41,7,7,0.66);
    color: rgb(255, 75, 75);
}
.modal-content h1 {
    font-family: 'Nosifer', cursive;
}






